strict-peer-dependencies=false
shamefully-hoist=false
auto-install-peers=true
package-lock=false
save-exact=true
approve-builds=true

# Allow @parcel/watcher to run build scripts
approve-builds[]=@parcel/watcher
